<h1>Testing Open Food Facts API ;)</h1>

<p><b>10 premières catégories</b></p>
<%= @categories %>

<p><b>10 premiers produits de la catégorie <%= @category_name %></b></p>
<ul>
  <% @products_from_category.each do |product| %>
  <li><%= "#{product._id} - #{product.product_name}" %></li>
  <% end  %>
</ul>

<p><b>Détails du produit <%= @product_name %></b></p>
<p><b><i>Tous détails : </i></b></p>
<ul>
  <% @product.each do |k,v| %>
  <li><%= "#{k} - #{v}" %></li>
  <% end  %>
</ul>
<p><b><i>Nutriments : </i></b></p>
<ul>
  <% @product_nutriments.each do |k, v| %>
  <li><%= "#{k} : #{v}" %></li>
  <% end  %>
</ul>

<!-- <p><b>First 10 additives</b></p>
<%= @additives %>

<p><b>First 10 ingredients from palm oil</b></p>
<%= @palm %> -->
